@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

body {
    font-family: "Poppins";
}

#components-layout-demo-side .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}

.site-layout .site-layout-background {
    background: #fff;

}

.site-layout-background .ant-layout-sider {
    background: #fff;
    box-shadow: 0px 4px 9px rgba(81, 92, 111, 0.12);
    height: 485px;
}

.profile {
    margin: 1rem;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.profile .circle {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background: #8b95a6;
}

.profile .profile-content {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.profile .profile-content h2 {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #fcad0a;
}

.profile .profile-content .logout {
    display: flex;
    width: 64px;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
}

.profile .profile-content .logout h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    /* Secondary Colour */
    color: #515c6f;
}

.line {
    width: 89%;
    border: 0.7px solid #e9e9e9;
    margin: 1rem;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    border-left: 3px solid #fcad0a;
    background: #fcad0a1f;
    color: #515c6f;
    font-size: 18px;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item {
    color: #515c6f;
    font-size: 16px;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item img {
    margin-right: 1rem;
}

.ant-menu-inline {
    margin-left: 1rem;
    width: 95%;
}

.ant-layout {
    background: white;
}

.content {
    width: 100%;
    min-height: 80vh;
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(81, 92, 111, 0.12);
}

.display-none {
    display: none;
}

.display {
    display: block;
}

#wallet {
    font-weight: 600;
    margin-left: 3rem;
    color: #E71616;
}

/* .side-menu ul {
  list-style-type: none;
}

.side-menu li {
  height: 48px;
  font-size: 15px;
  line-height: 27px;
 
  color: #515c6f;
} */

.content .dash-header {
    height: 66px;
    width: inherit;
    background: #fcad0a;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* position: fixed; */
}

.content .dash-header h1 {
    font-weight: 600;
    font-size: 26px;
    color: #ffffff;
    margin: 0;
}

.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border-right: 3px solid #fcad0a;
    -webkit-transform: scaleY(0.0001);
    transform: scaleY(0.0001);
    opacity: 0;
    -webkit-transition: opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
    content: "";
}