.tabs {
  width: calc(100% - 304px);
  /* padding: 49px; */
  /* background: #ffffff;z */
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  position: absolute;
  bottom: -58px;
}

.ant-tabs .ant-tabs-top-content,
.ant-tabs .ant-tabs-bottom-content {
  width: 100%;
  background: white;
  padding: 37px;
  border-radius: 6px;
}

.ant-tabs-bar {
  margin: 0 0 0 100px !important;
  border-bottom: none !important;
}

.form-button {
  color: white;
  background: #f9a602;
  border-radius: 7px;
}

.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active {
  height: 40px;
  color: white;
  background: #f9a602;
  border-color: #f9a602;
}

@media (max-width: 767px) {
  .tabs {
    width: calc(100% - 26px);
    position: absolute;
    bottom: 60px;
  }
  .ant-tabs-bar {
    margin: 0 !important;
  }
  /* .form-button {
    margin: 10px 0 0 -23px;
  } */
  .ant-col-xs-24 {
    margin-bottom: 13px;
  }
  .ant-col-offset-8 {
    margin-left: 0;
  }
  .ant-form-inline .ant-form-item {
    margin-right: 0;
    margin-bottom: 13px;
  }
  .ant-tabs .ant-tabs-top-content,
  .ant-tabs .ant-tabs-bottom-content {
    padding: 0;
  }
  .ant-form {
    display: flex;
    justify-content: center;
    padding: 30px 0 17px 0;
  }
}
